<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="text-left">
          <button
            class="px-6 text-left py-3 text-xs font-medium text-gray-500 uppercase tracking-wider"
            (click)="sortByName()"
          >
            Name
            <span *ngIf="isNameAscending">▲</span>
            <span *ngIf="!isNameAscending">▼</span>
          </button>
        </th>
        <th scope="col" class="text-left">
          <button
            class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider"
            (click)="sortByPrice()"
          >
            Current Price
            <span *ngIf="isPriceAscending">▲</span>
            <span *ngIf="!isPriceAscending">▼</span>
          </button>
        </th>
        <th scope="col" class="text-left">
          <button
            class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider"
            (click)="sortBy24hChange()"
          >
            Price Change (24h)
            <span *ngIf="is24HourChangeAscending">▲</span>
            <span *ngIf="!is24HourChangeAscending">▼</span>
          </button>
        </th>
        <th
          scope="col"
          class="text-left px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Symbol
        </th>
        <th
          scope="col"
          class="text-left px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Sparkline (7d)
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      @for (coin of cryptoData$ | async; track $index) {
        <tr
          class="hover:bg-gray-100 cursor-pointer"
          (click)="goToCoinDetails(coin)"
        >
          <td class="px-6 py-4 whitespace-nowrap">{{ coin.name }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ coin.current_price | currency }}
          </td>
          <td
            class="px-6 py-4 whitespace-nowrap"
            [ngClass]="{
              'text-red-500': coin.price_change_24h < 0,
              'text-green-500': coin.price_change_24h >= 0,
            }"
          >
            {{ coin.price_change_24h | currency }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">{{ coin.symbol }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            <app-sparkline-chart
              height="35"
              width="100"
              [sparklineData]="coin.sparkline_in_7d.price"
            ></app-sparkline-chart>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
